<!DOCTYPE html>
<html lang="en-IN">

<head>
<meta charset="utf-8">
<title>{{ config.get('site-title') }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content=" {{ config.description }}">
<link rel="shortcut icon" href="{{ config.get('fav') }}" />
<link rel="canonical" href="{{ config.url }}/">
<meta property="og:title" content="{{ config.get('site-title') }}" />
<meta property="og:description" content="{{ config.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ config.url }}/" />
<meta property="og:image" content="{{ config.image | absolute_url }}" />
<meta name="twitter:card" content="summary" />
<link rel="alternate" type="application/rss+xml" title="nih.ar" href="/rss.xml">
<link rel="stylesheet" type="text/css" media="screen" href="{{ config.get('css') }}" />
</head>

<body>
<header>
<h1><a href="/">{% filter lower %} {{ title }} {% endfilter %}</a></h1>
{{ header }}
</header>
<section>
{{article}}
<ul>{% for post in posts %}{% if "home" in post.tags %}
<li><time>{{ post.date.strftime('%Y-%m-%d') }}</time> -- <a href="{{ post.url }}">{% filter lower %} {{ post.title }} {% endfilter %}</a></li>{% endif %}{% endfor %}
</ul>
</section>
<section>
{{ config.get('homefooter') }}
</section>
<footer>
{{ footer }}
</footer>
</body>
</html>
